<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angel.mapper.MybatisMapper">
    <select id="qryNationalityDict" resultType="com.alibaba.fastjson.JSONObject">
        select dict_prompt, subentry
        from gfuser.sysdictionary
        where dict_entry = '1040'
          and subentry = #{subentry}
    </select>
</mapper>
